@import './main.css';

/* HEADER */
/*
    La clase header construye un contenedor para la parte superior del sitio, este contenedor posee elementos
    esenciales para su vista, en este caso utilizamos la clase .logo para encerrar el titulo del sitio
    y las clases .menu-start y menu-end para los menúes que se deberían mostrar en la parte superior.
    Puedes ver un ejemplo en index.html:13
*/
.header{
    position: relative;
    display: flex;
    align-items: stretch;
    width: calc(100% - 80px);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 3.25rem;
    padding: 20 40px;
}


.header > .logo{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-height: 3.25rem;
    cursor: pointer;
    font-family: "Bebasneue";
}
.header > .logo h1{ 
    color:#dedcdc; 
    margin: 0px 10px;
}

.header > [class*="menu-"]{
    display: flex;
    align-items: center;
}
.header > .menu-left{ padding-left: 15px; margin-right: auto; justify-content: flex-start; }
.header > .menu-right{ margin-left: auto; justify-content: flex-end; }

.li_header{
    width: 130px;
    margin-right: 10px;
}

.li_login,.li_register{
    width: 80px;
}

a.button_login,a.button_register{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */


/*TASAS*/
.tasas{
    width: 100%;
    height: 450px;
    margin-top: 70px;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.tasa,.calculadora{
    overflow: hidden;
    display: block;
    float: left;
    width: 47%;
    height: 360px;
    padding: 20px;
    text-align: center;
}


.tasa h1{
    font-family: "BebasNeue";
    font-size: 180px;
    text-align: center;
    color: #02FD17;
}

.parrafo_calculadora{
    margin-top: 20px;
    margin-bottom: 50px;
}

.input_calculadora{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_calculadora{
    width: 100px;
}


/*SECCION BITCOIN*/

.Bitcoin{
    width: 100%;
    height: 600px;
    padding-top: 50px;
    margin: 0px auto;
    background-color: #FFFFFF;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
}
.Bitcoin::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: -50px;
    background: url(../img/logobitcoin.png) no-repeat center / contain;
}

.title{
    margin-top: 20px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 60px;
  }

.box{
    width: 100%;
    margin-top: 30px;
    display: inline-block;
    font-family: "TrebuchetMS";
    font-size: 20px;
}

.left,.right{
    width: 100%;
    height: 300px;
    float: left;
    width: 43%;
    padding: 20px;
}

.left{
    margin-left: 80px;
}

.left h2{
    width: 100%;
    margin: 30px;
    margin-left: 0px;
    font-size: 40px;
    font-family: "BebasNeue";
    text-align: left;
}

.left p{
    text-align: left;
    letter-spacing: 1px;
}

.right{
    margin-right: 30px;
    color: white;
    text-align: center;
}

.right_calculadora{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #25333D;
    border: 1px solid #02FD17;
    border-radius: 10px;
}

.precio_btc > .input_calculadora{
    float: left;
    margin-left: 20px;
}

.right input{
    margin-top: 20px;
    width: 47%;
    text-align: center;
} 

.precio_btc{
    width: 100%;
    height: 80px;
}

.right h2{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: #02FD17;
    font-family: "BebasNeue";
    font-size: 40px;
}

.right p{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.input_bitcoin{
    width: 100%;
    height: 100px;
    text-align: center;
}

.right button{
    margin-top: 10px;
}

/*REDES SOCIALES*/

.columns-redes{ padding: 50px 0px; }
.columns-redes > .column > div{
    position: relative;
    display: flex;
    margin: auto;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-size: 40px;
    border-radius: 5px;
    transition: all 300ms;
}
.columns-redes div:hover{
    border-radius: 100px;
    box-shadow: 0 0 30px #02FD17;
}
.columns-redes a{ color: #02FD17; }


/*FOOTER*/
.footer{
    width: 100%;
    height: 300px;
    color: #FFFFFF;
}
.tarjetas_footer{
    float: right;
    width: 15%;
    height: 200px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;

}
.subtitulos_footer{
    width: 100%;
    font-family: "TrebuchetMS";
    font-size: 20px;
    list-style:none;
}
.div_qr{
    float: left;
    margin-left: 140px;
    width: 30%;
}
.div_qr > a{
    float: left;
    font-family: "BebasNeue";
    font-size: 40px;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 300ms;
}

.div_qr a:hover{
    color: #02FD17;
}


.qr{
    display: block;
    width: 150px;
}

.lista_footer{
    margin-top: 20px;
    list-style:none;
}

.lista_footer li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_acercade{
    margin-right: 140px;
}

.lista_footer a{
    font-family: "TrebuchetMS";
    font-size: 15px;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 300ms;
}

.lista_footer a:hover,
.navegar a:hover{
    color: #02FD17;
}