@import './main.css';
/*login*/

.login{
    width: 100%;
    height:600px;
}

.div_register{
    float: left;
    width: 100%;
    height: 200px;
}

.div_register a{
    width: 100px;
    float: right;
    margin: 85px;
}

.section_login{
    float: left;
    width: 100%;
    margin: 100px 0px;
}

.logo_login,.form_login{
    float: left;
    height: 100%;
}

.logo_login{
    width: 20%;
    margin-left: 20%;
}

.img_login{
    width: 200px;
    float: right;
    border-right: 1px solid #02FD17;
}

.form_login{
    width: 40%;
    color: white;
    text-align: center;
    margin-right: 20%;
}

.form_login > h1{
    font-size: 40px;
    font-family: "BebasNeue";
}

.icon_login{
    margin-right: -10px;
}


