@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css';

/* Fuentes */
@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "webSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format(embedded-opentype),
        url(fonts/websymbols-regular-webfont.woff) format(woff),
        url(fonts/websymbols-regular-webfont.ttf) format(truetype),
        url(fonts/websymbols-regular-webfont.svg#webSymbolsRegular) format(svg);  
    font-weight: normal;
    font-style: normal;
}

* { margin: 0px; padding: 0px; }
body{ background-color: #25333D; color: #25333D; font-family: "TrebuchetMS"; font-size: 20px; }


/* Enlaces */
/*
    Los enlaces visitados ya no estarán en color por default, además de eso
    la clase .is-link indica que debe tener un color Primario (Verde) al estar en :hover.
    Puedes ver un ejemplo en index.html
*/
a,.is-link{
    color:#f4f4f4;
    cursor: pointer;
    text-decoration: none;
    transition: 250ms ease-in-out;
}
a:hover,.is-link:hover{ color: #02FD17; }
/* Enlaces */

/*
Listas
    Agregando la clase .is-list a las listas, podrás organizar sus elementos en linea,
    los enlaces dentro de cada elemento serán Primario con :hover y si deseas que el orden sea Vertical
    solo debes anexar la clase .is-block al elemento <ul>
    Puedes ver un ejemplo en index.html:19
*/
ul.is-list{ 
    list-style: none; 
    display: inline-flex;
    text-align: center; 
}
ul.is-list > li:first-child{ margin-left: 0px; }
ul.is-list > li:last-child{ margin-right: 0px; }
ul.is-list.is-block{ display: block; }
ul.is-list.is-block > li{ display: block; text-align: left;margin: auto;}
/* Listas */


/* BUTTON & INPUT */
/*
    La clase is-outlined elimina es background y deja el borde de color verde.
    Sin embargo el background aparece al estar en :focus
    Puedes ver un ejemplo en:
    index.html:23
    index.html:34
*/
.input,.button,a.button{
    width: 200px;
    border-radius: 5px;
    border: 0.5px solid #02FD17;
    line-height: 30px;
    margin: 20px;
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;
    outline: none;
    transition: 200ms ease;
}
.button, a.button{ font-family: "BebasNeue"; cursor: pointer;}
.button:active,a.button:active{transform: translateY(1px);}
.input:not(.is-outlined),
.input.is-outlined:focus,
.button:not(.is-outlined),
.button.is-outlined:hover,
a.button:not(.is-outlined),
a.button.is-outlined:hover
{ color: #25333D; background: #02FD17; }
.input.is-outlined,
.button.is-outlined,
a.button.is-outlined
{ color: #02FD17; background: transparent; }
/* BUTTON & INPUT */



/* Color de Texto */
/*
    Las clases indicadas aqui cambiarán el color del texto según corresponda.
    Puedes ver un ejemplo en index.html:86
*/
.is-text-primary{ color:#02FD17; }
.is-text-white{ color:#f4f4f4; }
.is-text-dark{ color:#25333D; }
.is-text-error{ color:#a01300; }
/* Color de Texto */


/* Contenedor */
/*  El contenedor lo usarás para escribir nuevas secciones de contenido.
    Puedes ver un ejemplo en index.html:86
*/
.container{
    width: calc(100% - 380px);
    padding: 0px 190px;
}
/* Contenedor */


/* columnas */
/*
    Las columnas son una lista de clases que podrás utilizar para alinear contenido horizontal
    solo debes crear el padre llamado .columns y luego los hijos los llamarás .column
    Puedes ver un ejemplo en index.html:87
*/
.columns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #02FD17;
}
/* columnas */



