@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Krona+One');

@keyframes rotateRight{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes rotateLeft{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}



.empty-body:empty{
	min-height: 70vh;
	background-image: url(./../img/logo/favicon_0.25.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 4rem auto;    
}



/*****       Nuevo Diseño         ******/

.name-company{
	font-family: 'Lobster', cursive;
}
.bottom-shadow-fade,.dowm-shadow-fade{
	position: relative;
}
.bottom-shadow-fade:after,.dowm-shadow-fade:after{
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	left:0px;
	top:0px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 73%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 73%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

[class*=coments-list-].is_chat{
	position: absolute;
	width: 100%;
	height: calc((100%*1) - (2.5rem + -4px));
	background: #fff;
	overflow: auto;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	left: 0px;
	top: 0px;
}

[class*=coments-list-].is_chat:empty{
	background: #fff url(./../img/icons/send_blue_0.2.png) no-repeat center /calc(100% - (100% - 100px));
}
[class*=coments-panel]{
	display:none;
	z-index: 999999999999999999;
	background: rgba(255,255,255,1);
	height: calc(100vh - (100vh - 200px));
	border-radius: 5px;
}
[class*=coments-panel] .form-coment{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: calc(100% - ((100%*1) - (2.5rem + -4px)));
}


.is_active_chat > [class*="produtc-item-"]{
	display: none;
}

.is_active_chat > [class*="coments-panel-"]{
	display: block;
}




/*        Fav Button          */
.boton-favorito:parent{
	position: relative;
}

.boton-favorito{
	/*position: absolute;*/
	width: 2.5rem;
	height: 2rem;
	background-color: #fff;
	background-image: url(./../img/icons/web_heart_animation.png);
	background-size: 3900%;
	background-position: -5px -10px;
	background-repeat: no-repeat;
}

.boton-favorito.trusted:not(.unavaible){
	-webkit-animation: heart-burst steps(28) 1s 1 both;
		animation: heart-burst steps(28) 1s 1 both;
}
@-webkit-keyframes heart-burst {
	0% {
		background-position: -5px -10px;
	}
	100% {
		background-position: calc(100% + 10px) -10px;
	}
}

@keyframes heart-burst {
	0% {
		background-position: -5px -10px;
	}
	100% {
		background-position: calc(100% + 10px) -10px;
	}
}
/*        Fin de Fav Button          */




.on-hover{
	cursor: pointer;
}
.on-hover .show{
	display: none;
}

.on-hover:hover .hidden{
	display: none;
}

.on-hover:hover .show{
	display: block;
}





/*Scroll Default*/
.has-scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.has-scroll::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}
.has-scroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.has-scroll.no-rounded::-webkit-scrollbar-track,.has-scroll.no-rounded::-webkit-scrollbar-thumb{
	border-radius: 0px;
}


/*Scroll primary*/
.has-scroll.is-primary::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-primary::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-primary::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #00C4A7;
}



/*Scroll link*/
.has-scroll.is-link::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-link::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-link::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #276CDA;
}



/*Scroll Info*/
.has-scroll.is-info::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-info::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-info::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1496ED;
}


/*Scroll success*/
.has-scroll.is-success::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-success::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-success::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #22C65B;
}

/*Scroll warning*/
.has-scroll.is-warning::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-warning::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-warning::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FFDB4A;
}


/*Scroll Danger*/
.has-scroll.is-danger::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.has-scroll.is-danger::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.has-scroll.is-danger::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}






.collapse{
	display: none;
}
.collapse.show{
	display: block;
}



html,body{
	height: calc(100vh + 52px);
	background: #EDEDED;
 }



textarea.textarea-beauty{
	resize:none;
	max-height:150px !important;
	min-height:45px !important;
	height:45px;
}

input.input-beauty{
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
}

input.input-beauty::placeholder,textarea.textarea-beauty::placeholder{
	color: #ccc;
	font-weight: 400;
}




.is-bg-animated{
background: -webkit-linear-gradient(bottom, #64fafa, #49dede, #2ec5c5, #0da0a0);
background: -o-linear-gradient(bottom, #64fafa, #49dede, #2ec5c5, #0da0a0);
background: linear-gradient(to top, #64fafa, #49dede, #2ec5c5, #0da0a0);
background-size: 800% 800%;
-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
-o-animation: AnimationName 4s ease infinite;
animation: AnimationName 4s ease infinite;
}

.is-bg-animated.is-primary{
	background: -webkit-linear-gradient(bottom, #00D1B2, #057060);
	background: -o-linear-gradient(bottom, #00D1B2, #057060);
	background: linear-gradient(to top, #00D1B2, #057060);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 4s ease infinite;
	-moz-animation: AnimationName 4s ease infinite;
	-o-animation: AnimationName 4s ease infinite;
	animation: AnimationName 4s ease infinite;
}

.is-bg-animated.is-danger{
	background: -webkit-linear-gradient(bottom, #FF3860, #750C21);
	background: -o-linear-gradient(bottom, #FF3860, #750C21);
	background: linear-gradient(to top, #FF3860, #750C21);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 4s ease infinite;
	-moz-animation: AnimationName 4s ease infinite;
	-o-animation: AnimationName 4s ease infinite;
	animation: AnimationName 4s ease infinite;
}


.is-bg-animated.is-warning{
	background: -webkit-linear-gradient(bottom, #EFA507, #7E5806);
	background: -o-linear-gradient(bottom, #EFA507, #7E5806);
	background: linear-gradient(to top, #EFA507, #7E5806);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 4s ease infinite;
	-moz-animation: AnimationName 4s ease infinite;
	-o-animation: AnimationName 4s ease infinite;
	animation: AnimationName 4s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@keyframes AnimationName { 
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

.box{
	position: relative;
	z-index: 1;
}



/*Pantallas mas grandes que un celular*/
@media screen and (min-width: 400px){
	.box-closeup{
		position: absolute;
		top: -50px;
		z-index: 2;
	}
}
/* Fin de Pantallas mas grandes que un celular*/




.is-rounded{
	border-radius: 29939494px !important;
}




.tagsinput input{
	outline: none;
	box-shadow: none;
	border:solid 0px rgba(0,0,0,0);
}