/*FUENTES*/
@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "webSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format(embedded-opentype),
        url(fonts/websymbols-regular-webfont.woff) format(woff),
        url(fonts/websymbols-regular-webfont.ttf) format(truetype),
        url(fonts/websymbols-regular-webfont.svg#webSymbolsRegular) format(svg);  
    font-weight: normal;
    font-style: normal;
}

/*GENERALES*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #010013;
}

.wrap{
    width: 1200px;
    margin: 0px auto;
}

/*CABECERA*/
#header{
    width: 100%;
    height: 100px;
    color: #FFFFFF;
}

#logotipo{
    display: block;
    float: left;
    cursor: pointer;
    width: 270px;
    height: 100px;
    line-height: 100px;
}

#logotipo a{
    text-decoration: none;
    color: #FFFFFF;
}

#logotipo img{
    display: block;
    float: left;
    width: 80px;
    margin-top: 10px;
}

#logotipo h3{
    display: block;
    float: right;
    margin-left: 10px;
    font-family: "BebasNeue", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#menu{
    display: block;
    float: right;
}

#menu ul li{
    display: block;
    float: left;
    margin-left: 20px;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 100px;
}

#menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

#menu ul li input[type=button]{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #52C537;
    color: #FFFFFF;
    font-family: "TrebuchetMS",Arial, Helvetica, sans-serif;
}

/*TASAS*/
#tasas{
    width: 100%;
    height: 550px;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#tasas #tasa{
    overflow: hidden;
    display: block;
    float: left;
    width: 45%;
    height: 500px;
    padding: 20px;
    text-align: center;
}

#tasas #tasa input[type="text"],
#tasas #calculadora input[type="text"],
#tasas #calculadora input[type="button"]{
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-top: 80px;
    background-color: #2C2C3F ;
    box-shadow: 1px 1px 2px #52C537;
    border: transparent;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #8A8A94;
    transition: all 300ms;
}

#tasas #tasa input[type="text"]:focus,
#tasas #calculadora input[type="text"]:focus,
#tasas #calculadora input[type="button"]:hover{
    border: 1px solid #52C537;
}

#tasas #tasa h1{
    padding: 10px;
    font-family: "BebasNeue";
    font-size: 200px;
    text-align: center;
    color: #52C537;
}


#tasas #calculadora{
    overflow: hidden;
    display: block;
    float: right;
    width: 45%;
    height: 500px;
    text-align: center;
    padding: 20px;
}

#tasas #calculadora #parrafo_1{
    margin: 10px;
    margin-top: 80px;
}

#tasas #calculadora #parrafo_2{
    margin: 10px;
    margin-top: 20px;
}

#tasas #calculadora input[type="text"]{
    width: 200px;
    margin: 10px;
    margin-top: 30px;
    line-height: 500px;
}

#tasas #calculadora h1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 25px;
    text-align: center;
}

#tasas #calculadora input[type="button"]{
    margin-top: 20px;
    background-color: #52C537;
    color: #FFFFFF;
}

/*SECCION BITCOIN*/

#Bitcoin{
    width: 100%;
    height: 600px;
    margin: 0px auto;
    background-color: #FFFFFF;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

#Bitcoin #titulo h1,h2{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #52C537;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 100px;
}

#Bitcoin #bitcoin{
    width: 100%;
    padding: 20px;
}

#Bitcoin #bitcoin h2{
    float: left;
    text-align: left;
    font-size: 30px;
}

#Bitcoin #bitcoin p{
    overflow: hidden;
    width: 60%;
    padding-right: 20px;
    float: left;
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}


#Bitcoin #bitcoin img{
    display: block;
    float: left;
    width: 80px;
    margin-top: -260px;
    margin-left: -195px;
}

