@import './app.css';


/*GENERALES*/



.wrap{
    width: 1200px;
    margin: 0px auto;
}

/*CABECERA*/
#header{
    width: 100%;
    height: 100px;
    color: #FFFFFF;
}

#logotipo{
    display: block;
    float: left;
    cursor: pointer;
    width: 270px;
    height: 100px;
    line-height: 100px;
}

#logotipo a{
    text-decoration: none;
    color: #FFFFFF;
}

#logotipo img{
    display: block;
    float: left;
    width: 80px;
    margin-top: 10px;
}

#logotipo h3{
    display: block;
    float: right;
    margin-left: 10px;
    font-family: "BebasNeue", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#menu{
    display: block;
    float: right;
}

#menu ul li{
    display: block;
    float: left;
    margin-left: 20px;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 100px;
}

#menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

#menu ul li input[type=button]{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #52C537;
    color: #FFFFFF;
    font-family: "TrebuchetMS",Arial, Helvetica, sans-serif;
}

/*TASAS*/
#tasas{
    width: 100%;
    height: 550px;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#tasas #tasa{
    overflow: hidden;
    display: block;
    float: left;
    width: 45%;
    height: 500px;
    padding: 20px;
    text-align: center;
}


#tasas #tasa h1{
    padding: 10px;
    font-family: "BebasNeue";
    font-size: 200px;
    text-align: center;
    color: #52C537;
}


#tasas #calculadora{
    overflow: hidden;
    display: block;
    float: right;
    width: 45%;
    height: 500px;
    text-align: center;
    padding: 20px;
}

#tasas #calculadora #parrafo_1{
    margin: 10px;
    margin-top: 80px;
}

#tasas #calculadora #parrafo_2{
    margin: 10px;
    margin-top: 20px;
}

#tasas #calculadora input[type="text"]{
    width: 200px;
    margin: 10px;
    margin-top: 30px;
}

#tasas #calculadora h1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 25px;
    text-align: center;
}

/*SECCION BITCOIN*/

#Bitcoin{
    width: 100%;
    height: 600px;
    padding-top: 50px;
    margin: 0px auto;
    background-color: #FFFFFF;
    font-family: "TrebuchetMS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    position: relative;
}
#Bitcoin::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: -50px;
    background: url(../img/logobitcoin.png) no-repeat center / contain;
}


