RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} bitcommersecash.com
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]

RewriteEngine on
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} bitcommersecash.local
RewriteRule .* http://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteEngine on
RewriteRule ^contact/([a-zA-Z0-9=]+)/imbox.json(.*)$ /api_v2/imbox/imbox.php?imbox=$1&%{QUERY_STRING} [S=1]
RewriteRule ^contact/([a-zA-Z0-9=]+)$ /ticket.php?id=$1&%{QUERY_STRING}

RewriteEngine on
RewriteRule ^api_v2/items/item/([0-9]+)$ /api_v2/items/items.php?item=$1&%{QUERY_STRING}

ErrorDocument 404 /404.php